@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html, 
body, 
#root, 
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app,
.content {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "Lato", "Helvetica Neue", sans-serif;
}
.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}
.logo{
  align-self: center;
  margin: 0;
  width: 38px;
}
.sidebar-link {
  /* border: 2px solid red; */
  text-decoration: none;
  color: inherit;
  display: flex;
  font-size: inherit;
  width: 100%;
}

/* mobile first styling */
@media (min-width: 600px) {
  .logo{
    margin-inline: auto;
    padding-block: 1rem;
    width: 100px;
  }
}

